body {
    font-family: 'TH Sarabun New', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-box {
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.logo {
    width: 200px;
    margin-bottom: 50px;
}


p1 {
    color: #555;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 20px;
    text-align: left;
}

input {
    font-family: 'TH Sarabun New', sans-serif;
    font-size: 18px;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    font-family: 'TH Sarabun New', sans-serif;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    background-color: #4B49AC;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 15px;
}

button:hover {
    background-color: #5a4bbd;
}
