.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1050;
    background-color: white;
    height: 80px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
html {
    overflow-y: scroll;
  }
