    th {
        color: #989BA4 !important;
    }
    h3 {
        font-weight: bold;
        font-size: 36px;
        color: #4B49AC;
    }
    .custom-btn.active {
        background: none;
        border: none;
        font-size: 18px;
        font-weight: bold;
        color: #4B49AC;
        text-decoration: underline;
        text-decoration-thickness: 3px;  /* ความหนาของเส้นใต้ */
        text-underline-offset: 4px;   /* ระยะห่างจากตัวอักษร */
        outline: none;
        padding: 10px 20px;
        border-radius: 8px 8px 0 0;
        margin-right: 5px;
        margin-left: 20px;
        cursor: pointer;
    }
    .custom-btn {
        background: none;
        border: none;
        font-size: 18px;
        font-weight: bold;
        color: #6c757d;
        padding: 10px 20px;
        border-radius: 8px 8px 0 0;
        margin-right: 5px;
        margin-left: 20px;
        cursor: pointer;
        text-decoration: none; /* ลบเส้นใต้ */
    }

    .custom-btn:active,
    .custom-btn:focus {
        color: #4B49AC;
        text-decoration: underline;
        text-decoration-thickness: 3px;  /* ความหนาของเส้นใต้ */
        text-underline-offset: 4px;   /* ระยะห่างจากตัวอักษร */
        outline: none;
    }
    .nav-tabs {
        border-bottom: none;
    }
    .nav-tabs .nav-link {
        font-size: 18px;
        font-weight: bold;
        color: #6c757d;
        padding: 10px 20px;
        border-radius: 8px 8px 0 0;
        margin-right: 5px;
    }
    .nav-tabs .nav-link.active {
        background-color: #4B49AC;
        color: white;
        border: none;
    }
    .tab-content {
        border: 1px solid #ddd;
        border-radius: 0 0 8px 8px;
        padding: 0px;
        background: white;
    }
    .custom-box {
        background: white;
        border-radius: 8px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        padding: 15px;
    }
    table thead {
        background-color: #d3d3d3;
        color: black;
    }
    table tbody {
        background-color: white;
    }
    .nav-tabs-container {
        display: flex;
        justify-content: flex-end;
    }

